.App {
  text-align: center;
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: whitesmoke;
  height: 120px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid black;
}

.Header-text {
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 25px;
  color: #3f3f3f;
  text-align: left;
}

.Survey {
  width: 100%;
  height: 100%;
  text-align: left;
}

.sv_main {
  height: 100vh;
}